.form {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: auto;
    background: transparent;
}

.input{
    font-family: inherit;
    font-weight: 300;
    width: 80%;
    height: 2rem;
    padding-left: 30px;
    border: none;
    font-size: 1.2rem;
    color:white;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input::-webkit-input-placeholder {
    font-weight: 300;
    color:white;
 }
  
 .input:-moz-placeholder { 
    font-weight: 300;
    color: white; 
 }
  
 .input::-moz-placeholder {  
    font-weight: 300;
    color: white;
 }
  
 .input:-ms-input-placeholder {  
    font-weight: 300;
    color: white; 
}

.searchIcon{
    position: absolute;
    margin-left: 4px;
    margin-top: 5px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.3);
}

.exitIcon {
    font-size: 1.2rem;
    position: absolute;
    margin-left: -15px;
    margin-top: 4px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.container .input:hover, .container .input:focus, .container .input:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
}
