.current {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.degrees {
    display: flex; 
}

.temp{
    font-size: 9rem;
    font-weight: 300;
    height: 200px;
    margin: -40px auto -20px auto;
    padding: 0px;
    align-self: flex-start;

    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.degSymbol {
    font-size: 4rem;
    font-weight: 300;
    margin: -15px auto;

}

.f {
    font-size: 2rem;
    font-weight: 300;
    margin: -4px 0px 10px 0px;
}

.description {
    font-weight: 300;
    font-size: .9rem;
    display: block;
    text-align: left;
    padding: 0;
}

.description .p {
    margin: 0;
    padding: 0;
}