.day {
    margin: 10px 0px;
    padding: 5px;
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.day:last-child {
    border: none;
}

.date {
    margin: 0px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.75rem;
}

.high {
    margin: 0px;
    color: #183968;
    font-weight: 800;
    font-size: 0.8rem;
}

.low {
    margin: 0px;
    font-weight: 300;
    font-size: .7rem;
    color:  #183968;
}

.icon {
    width: 65%;
    margin-bottom: -10px;
    padding: 0px;
}