.draggable {
  margin: 0 auto;
  width: 100%; /* and also a max-width */
  
}

.App, .draggable {
  text-align: center;
  /* min-width: 250px; */
  width: 375px;
  margin: 70px auto;
  background: rgba(73, 131, 206, 0.7);
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.26);
}

.weather {
  display: flex;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}

.cloud1 {
  z-index: -1;
  position: absolute;
  right: 60%;
  top: 120px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cloud2{
  z-index: -1;
  position: absolute;
  left: 62%;
  top: 110px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}