html {
  background: rgb(74,144,226);
  background: linear-gradient(180deg, rgba(54,124,214,1) 0%, rgba(24,57,104,1) 100%);
  background-repeat: no-repeat;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
